.Div {
  height: 100%;
  transition-duration: 0.5s;
  float: left;
  position: relative;
}

.DropDown {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: rgb(33, 65, 114);
}

.Div:hover .DropDown {
  display: block;
}
